{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"extends": [
		"plugin:@typescript-eslint/recommended",
		"plugin:react/recommended",
		"plugin:@wordpress/eslint-plugin/esnext"
	],
	"plugins": [
		"@typescript-eslint",
		"react",
		"mui-unused-classes"
	],
	"env": {
		"browser": true,
		"node": true
	},
	"rules": {
		"react/react-in-jsx-scope": "error",
		"react/prop-types": "off",
		"object-curly-newline": ["error", {
			"ImportDeclaration": { "multiline": true, "minProperties": 3 }
		 }]
	},
	"globals": {
		"React": "writable"
	}
}
